@model ProductsVm

<section id="breadcrumb">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <p>
                    <a asp-controller="Home" asp-action="Index">Ana səhifə</a>
                    <i class="fas fa-angle-double-right"></i>
                    Məhsullar
                </p>
            </div>
        </div>
    </div>
</section>
<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 custom-shadow">
                <div class="left-side pt-4">
                    <h1>Kateqoriya</h1>
                    <ul class="pl-3 mb-3">
                        @foreach (var category in Model.productCategories)
                        {
                            <li>
                                <label>
                                    @category.Name
                                    <input type="checkbox" data-id="@category.Id" />
                                </label>
                            </li>
                        }
                    </ul>

                    <h1>Əyar</h1>
                    <ul class="pl-3 mb-3">
                        @foreach (var type in Model.productTypes)
                        {
                            <li>
                                <label>
                                    @type.Name
                                    <input type="checkbox" data-id="@type.Id" />
                                </label>
                            </li>
                        }
                    </ul>

                    <h1 class="mt-4">Qiymət</h1>
                    <div class="range_container mt-3">
                        <div class="sliders_control">
                            <input id="fromSlider" type="range" value="0" min="0" max="1000" />
                            <input id="toSlider" type="range" value="1000" min="0" max="1000" />
                        </div>
                        <div class="form_control mt-3">
                            <div class="form_control_container">
                                <div class="form_control_container__time"><span>Min</span></div>
                                <input class="form_control_container__time__input" type="number" id="fromInput" value="0" min="0" max="1000" />
                            </div>
                            <div class="form_control_container">
                                <div class="form_control_container__time"><span>Max</span></div>
                                <input class="form_control_container__time__input" type="number" id="toInput" value="1000" min="0" max="1000" />
                            </div>
                        </div>
                    </div>
                    <a href="" class="mainBtn search">Axtar</a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="right-side">
                    <div class="row">
                        @foreach (var product in Model.products)
                        {
                            <div class="col-sm-6 col-md-4 mb-4">
                                <div class="item">
                                    <div class="image-wrapper mb-3">
                                        <div class="isNew @(product.IsNew ? "" : "d-none")">
                                            Yeni
                                        </div>
                                        <div class="discount @(product.DiscountPercent != 0 ? "" : "d-none")">
                                            @product.DiscountPercent %
                                        </div>
                                        <a asp-controller="products" asp-action="detail" asp-route-id="@product.Id">
                                            <img src="img/@product.MainImageUrl" class="img-fluid" alt="">
                                        </a>
                                        <a href="" class="mainBtn">Daha ətraflı</a>
                                    </div>
                                    <div class="content">
                                        <a asp-controller="products" asp-action="detail" asp-route-id="@product.Id">
                                            <h1>@product.Name</h1>
                                        </a>
                                        <p class="price d-flex justify-content-between">
                                            @product.Price AZN
                                            <span class="old-price @(product.DiscountPercent != 0 ? "" : "d-none")">@(product.Price - (product.Price * product.DiscountPercent / 100)) AZN</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
