@model ProductsVm

<section id="breadcrumb">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <p>
                    <a asp-controller="Home" asp-action="Index">Ana səhifə</a>
                    <i class="fas fa-angle-double-right"></i>
                    Məhsullar
                </p>
            </div>
        </div>
    </div>
</section>
<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 custom-shadow">
                <div class="left-side py-4">
                    <h1>Kateqoriya</h1>
                    <ul class="pl-3 mb-3 categories">
                        @foreach (var category in Model.productCategories)
                        {
                            <li>
                                <label>
                                    @category.Name
                                    <input type="checkbox" data-id="@category.Id" />
                                </label>
                            </li>
                        }
                    </ul>

                    <h1>Əyar</h1>
                    <ul class="pl-3 mb-3 types">
                        @foreach (var type in Model.productTypes)
                        {
                            <li>
                                <label>
                                    @type.Name
                                    <input type="checkbox" data-id="@type.Id" />
                                </label>
                            </li>
                        }
                    </ul>

                    <h1 class="mt-4">Qiymət</h1>
                    <div class="range_container mt-3">
                        <div class="sliders_control">
                            <input id="fromSlider" type="range" value="0" min="0" max="@ViewBag.Max" />
                            <input id="toSlider" type="range" value="@ViewBag.Max" min="0" max="@ViewBag.Max" />
                        </div>
                        <div class="form_control mt-3">
                            <div class="form_control_container">
                                <div class="form_control_container__time"><span>Min</span></div>
                                <input class="form_control_container__time__input" type="number" id="fromInput" value="0" min="0" max="@ViewBag.Max" />
                            </div>
                            <div class="form_control_container">
                                <div class="form_control_container__time"><span>Max</span></div>
                                <input class="form_control_container__time__input" type="number" id="toInput" value="@ViewBag.Max" min="0" max="@ViewBag.Max" />
                            </div>
                        </div>
                    </div>
                    <a href="" class="mainBtn search">Axtar</a>
                </div>
            </div>
            <div class="col-lg-9 position-relative">
                <div class="right-side">
                    <div class="row">
                        @foreach (var product in Model.products)
                        {
                            <div class="col-sm-6 col-md-4 mb-4">
                                <div class="item">
                                    <div class="image-wrapper mb-3">
                                        <div class="isNew @(product.IsNew ? "" : "d-none")">
                                            Yeni
                                        </div>
                                        <div class="discount @(product.DiscountPercent != 0 ? "" : "d-none")">
                                            @product.DiscountPercent %
                                        </div>
                                        <a asp-controller="products" asp-action="detail" asp-route-id="@product.Id" class="d-block text-center">
                                            <img src="img/@product.MainImageUrl" class="img-fluid object-fit-contain" style="height: 120px">
                                        </a>
                                        <a href="" class="mainBtn">Daha ətraflı</a>
                                    </div>
                                    <div class="content">
                                        <a asp-controller="products" asp-action="detail" asp-route-id="@product.Id">
                                            <h1>@product.Name</h1>
                                        </a>
                                        <p class="price d-flex justify-content-between">
                                            @product.Price AZN
                                            <span class="old-price @(product.DiscountPercent != 0 ? "" : "d-none")">@(product.Price - (product.Price * product.DiscountPercent / 100)) AZN</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link " href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            @for (int i = 0; i < ViewBag.NumberOfPages; i++)
                            {
                                <li class="page-item @(i == 0 ? "active" : "") @(ViewBag.NumberOfPages == 1 ? "disabled" : "")">
                                    <a class="page-link" href="#">@(i + 1)</a>
                                </li>
                            }
                            <li class="page-item @(ViewBag.NumberOfPages == 1 ? "disabled" : "")">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts{
    <script src="~/js/getProducts.js" type="module"></script>
}